@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

*{
   margin:0;
   padding:0; 
}

body{
    background: #f0f0f0;
    font-size:16px;
    color:#423E3B;
    font-family: 'Roboto', sans-serif;
}

.main{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.formWrapper{
    width:450px;
    height:450px;
    box-sizing:border-box;
    background: #fff;
    padding:30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(138,149,158,0.15);
    border: 1px solid #e0e0e0e0;
    
}

.formWrapper h1{
    margin-bottom:20px;
    padding-left:10px;
}


.formWrapper form{
    display:flex;
    flex-direction:column;
    align-items:felx-start;
}

.labelWrapper{
    display:flex;
    flex-direction:column;
}

.labelWrapper label, .labelWrapper input{
    display:block;
}

.labelWrapper label{
    font-size:1.2em;
    padding-left:10px;
}

.inputDefault{
    margin:15px 0 20px 0;
    outline:none;
    border:1px solid transparent;
    background: #f0f0f0;
    width:100%;
    height:auto;
    border-radius:25px;
    padding:20px 25px;
    box-sizing:border-box;
    font-size:1.2em;
    color: #423E3B
}

.labelWrapper:nth-child(3) input{
    margin:15px 0 10px 0;
}

#manterlogado{
    margin-left:10px;
    margin-bottom:20px;
}

.manterlogado{
    font-weight:300;
}



.button{
    margin: 0 auto;
    border: 2px solid transparent;
    color:#423E3B;
    text-decoration: none;
    background-color: #B7E99B;
    border-radius: 50px;
    width:200px;
    height:auto;
    display:flex;
    align-items:center;
    justify-content: center;
    font-weight: bold;
    font-size:1.3em;
    transition: border .3s ease-out;
    transition: background-color .3s ease-out;
    outline: none;
    box-sizing: border-box;
    padding:15px 25px;
}

.button:hover{
    box-shadow: 0px 0px 55px -30px rgba(138,149,158,1);
    background-color:transparent;
    box-sizing:border-box;
    cursor: pointer;
}

.btn_green:hover{
    border:2px solid #b7e99b;
}

.btn_orange{
    background:  #F29164;
}

.btn_orange:hover{
    border:2px solid #F29164;
}

.formWrapper p{
    font-size:.8em;
    margin: 12px auto 0 auto;
    font-weight:300;
}

.formWrapper p a{
    color:hsl(98, 53%, 63%);
    text-decoration:none;
    font-weight:bold;
}