*{
    margin:0;
    padding:0;
}

body{
    font-size:16px;
    color:#423E3B;
}

.main{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
}

.formWrapper{
    width:55%;
    height:auto;
    box-sizing:border-box;
    background: #fff;
    padding:30px;
    border-radius: 0;
    box-shadow: 0px 4px 8px rgba(138,149,158,0.15);
    border: 1px solid #e0e0e0e0;
    
}

label{
    font-size:1.2em;
    padding-left:10px;
    margin-bottom:15px;
}

.inputDefault{
    margin:0px 0 20px 0;
    outline:none;
    border:1px solid transparent;
    background: #f0f0f0;
    width:100%;
    height:auto;
    border-radius:25px;
    padding:15px 25px;
    box-sizing:border-box;
    font-size:1.2em;
    color: #423E3B
}

.button{
    margin: 0 auto;
    border: 2px solid transparent;
    color:#423E3B;
    text-decoration: none;
    background-color: #B7E99B;
    border-radius: 50px;
    width:auto;
    height:auto;
    display:flex;
    align-items:center;
    justify-content: center;
    font-weight: bold;
    font-size:1.3em;
    transition: border .3s ease-out;
    transition: background-color .3s ease-out;
    outline: none;
    box-sizing: border-box;
    padding:15px 25px;
}

.button:hover{
    box-shadow: 0px 0px 55px -30px rgba(138,149,158,1);
    background-color:transparent;
    box-sizing:border-box;
    cursor: pointer;
}

.btn_orange{
    background:  #F29164;
}

.btn_orange:hover{
    border:2px solid #F29164;
}

.btn_green:hover{
    border:2px solid #b7e99b;
}